<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "js\design.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src={% static "js\script.js" %}></script>
    <title>Practice</title>
</head>

<body>
    <header>
        <h1>Hello World!</h1>
    </header>
    <main class="grid">
        <div>
            <h2 class="camo"> Found Me</h2>
        </div>
        <div class="try">
            <button onclick="revealMessage()">Click Me!</button>
            <p  id="hidden" style="display:none">You clicked me</p>
            <button id="countdownButton" onclick="countdown()">5</button>        
        </div>
        <div id="made">
        </div>
        <div>
            <a href="admin/"><button type="submit">Admin</button></a>
            <a href="home/"><button type="submit">Home</button></a>
            <a href="notes/create/"><button type="submit">Create</button></a>
            <a href="notes/list/"><button type="submit">List</button></a>
        </div>
    </main>
    <footer>
        <p>Thanks for coming!</p>
    </footer>
</body>
</html>