<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href={% static "js\design.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src={% static "js\script.js" %}></script>
    <title>Practice</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href={% static "Icons\apple-touch-icon.png" %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "Icons\favicon-32x32.png" %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static "Icons\favicon-16x16.png" %}>
    <link rel="manifest" href={% static "Icons\site.webmanifest" %}>
    <link rel="mask-icon" href={% static "Icons\safari-pinned-tab.svg" %} color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="container"></div>
        <header>
            <div class="row">
                <div class="col">
                    <h1>Hello World!</h1>
                </div>
            </div>
        </header>
        <main>
            <div class="row">
                <div class="col">
                    <h2 class="camo"> Found Me</h2>
                </div>
                <div class="col">
                    <div class="try">
                        <button onclick="revealMessage()">Click Me!</button>
                        <p  id="hidden" style="display:none">You clicked me</p>
                        <button id="countdownButton" onclick="countdown()">5</button>        
                    </div>                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="made">
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div><p> </p>
                    </div>  
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <div class="row  tall">
                        <div class="col">
                            <a href="admin/"><button type="submit" class="block">Admin</button></a>
                        </div>
                    </div>

                    <div class="row  tall">
                        <div class="col">
                            <a href="home/"><button type="submit" class="blocktr">Home</button></a>
                        </div>
                        <div class="col">
                            <a href="dash/"><button type="submit" class="blocktr">Dash</button></a>
                        </div>
                        <div class="col">
                            <a href="companies/"><button type="submit" class="blocktr">Companies</button></a>
                        </div>
                    </div>

                    <div class="row  tall">
                        <div class="col">
                            <a href="notes/create/"><button type="submit" class="blockdb">Create</button></a>
                        </div>
                        <div class="col">
                            <a href="notes/list/"><button type="submit" class="blockdb">List</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="row">
                <div class="col">
                    <p>Thanks for coming!</p>
                </div>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>